<!DOCTYPE HTML>
<html>
<head>
  <title><%= @title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
  <ul>

    <li>Change this template at <code>web/templates/index.html.eex</code></li>
  </ul>
</body>
</html>
