<!DOCTYPE HTML>
<html>
<head>
  <title><%= @title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
  <h1>Hello, dynamo!</h1>
  <pre>
    <%= @articles %>
  </pre>
  <ul>
    <!-- <%= lc { _id, category, datePublish, title, url } inlist @articles do %> -->
    <!--   <li><%= title %></li> -->
    <!-- <% end %> -->
    
  </ul>
</body>
</html>
